<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Facultades</title>
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/Base.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/Facultades.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <!--Header - menu-->
    <header>
        <div class="header-content">
            <div class="logo">
                <div class="logo-header">
                    <img src="{{url_for('static', filename='images/MenuVerseU_Logo.jpeg') }}" alt="Logo MenuVerseU">
                </div>
                <h1>Menu<b>Verse</b>U</h1>
            </div>

            <div class="menu" id="show-menu">
                <nav>
                    <ul>
                        <li><a href="{{url_for('index')}}"> <i class="fas fa-home"></i>Inicio</a></li>
                        <li class="menu-selected">
                            <a href="{{url_for('Facultades')}}" class="text-menu-selected">
                                <i class="fa-solid fa-school"></i>Facultades</a>
                        </li>
                        <li><a href="{{url_for('QuienSomos')}}"><i class="fa-solid fa-address-card"></i></i></i>Quienes somos</a></li>
                        <li><a href="{{url_for('Sugerencias')}}"><i class="fa-solid fa-envelope"></i>Sugerencias</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div id="icon-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <div class="container-all" id="move-content">
        <div class="facultad">
            <img src="{{url_for('static', filename='images/FACULTAD_FIME.png') }}" alt="Foto de facultad">
            <div class="datos-facultad">
                <h2>Facultad de Ingeniería Mecánica y Eléctrica</h2>
                <a href="{{url_for('FIME')}}"><button>Ver menú</button></a>
            </div>
        </div>

        <div class="facultad">
            <img src="{{url_for('static', filename='images/FACULTAD_FCFM.png')}}" alt="Foto de facultad">
            <div class="datos-facultad">
                <h2>Facultad de Ciencias Físico Matemáticas</h2>
                <a href="{{url_for('FCFM')}}"><button>Ver menú</button></a>
            </div>
        </div>

        <div class="facultad">
            <img src="{{url_for('static', filename='images/FACULTAD_FACDYC.png')}}" alt="Foto de facultad">
            <div class="datos-facultad">
                <h2>Facultad de Derecho y Criminología</h2>
                <a href="{{url_for('FACDYC')}}"><button>Ver menú</button></a>
            </div>
        </div>

        <div class="facultad">
            <img src="{{url_for('static', filename='images/FACULTAD_FARQ.png')}}" alt="Foto de facultad">
            <div class="datos-facultad">
                <h2>Facultad de Arquitectura</h2>
                <a href="{{url_for('FARQ')}}"><button>Ver menú</button></a>
            </div>
        </div>

        <div class="facultad">
            <img src="{{url_for('static', filename='images/FACULTAD_FCQ.png')}}" alt="Foto de facultad">
            <div class="datos-facultad">
                <h2>Facultad de Ciencias Quimicas</h2>
                <a href="{{url_for('FCQ')}}"><button>Ver menú</button></a>
            </div>
        </div>

        <div class="facultad">
            <img src="{{url_for('static', filename='images/FACULTAD_FCB.png')}}" alt="Foto de facultad">
            <div class="datos-facultad">
                <h2>Facultad de Ciencias Biologicas</h2>
                <a href="{{url_for('FCB')}}"><button>Ver menú</button></a>
            </div>
        </div>

        <div class="facultad">
            <img src="{{url_for('static', filename='images/FACULTAD_FOD.png')}}" alt="Foto de facultad">
            <div class="datos-facultad">
                <h2>Facultad de Organización Deportiva</h2>
                <a href="{{url_for('FOD')}}"><button>Ver menú</button></a>
            </div>
        </div>

        <div class="facultad">
            <img src="{{url_for('static', filename='images/FACULTAD_FFYL.png')}}" alt="Foto de facultad">
            <div class="datos-facultad">
                <h2>Facultad de Filosofía y Letras</h2>
                <a href="{{url_for('FFYL')}}"><button>Ver menú</button></a>
            </div>
        </div>

        <div class="facultad">
            <img src="{{url_for('static', filename='images/FACULTAD_FIC.png')}}" alt="Foto de facultad">
            <div class="datos-facultad">
                <h2>Facultad de Ingeniería Civil</h2>
                <a href="{{url_for('FIC')}}"><button>Ver menú</button></a>
            </div>
        </div>

        <div class="facultad">
            <img src="{{url_for('static', filename='images/FACULTAD_FTSYDH.png')}}" alt="Foto de facultad">
            <div class="datos-facultad">
                <h2>Facultad de Trabajo Social y Desarrollo Humano</h2>
                <a href="{{url_for('FTSYDH')}}"><button>Ver menú</button></a>
            </div>
        </div>
    </div>
    <div class="container-footer">
        <footer>
            <div class="logo-footer">
                <img src="{{url_for('static', filename='images/MenuVerseU_Logo.jpeg')}}" alt="Logo MenuVerseU">
            </div>

            <div class="redes-footer">
                <a id="enlace-facebook" title="Enlace a Facebook"><i
                        class="fab fa-facebook-f icon-redes-footer"></i></a>
                <a id="enlace-whatsapp" title="Enlace a Whatsapp"><i class="fab fa-whatsapp icon-redes-footer"></i></a>
                <a id="enlace-instagram" title="Enlace a Instagram"><i
                        class="fab fa-instagram icon-redes-footer"></i></a>
                <a id="enlace-twitter" title="Enlace a Twitter"><i class="fab fa-twitter icon-redes-footer"></i></a>
            </div>
            <hr>
            <h4>© 2023 MenuVereseU - Todos los Derechos Reservados</h4>
        </footer>
    </div>
    <script src="{{url_for('static', filename='js/script.js') }}"></script>
</body>

</html>
