<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>FTSYDH</title>
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/Base.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/MenuBase.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <!--Header - menu-->
    <header>
        <div class="header-content">
            <div class="logo">
                <div class="logo-header">
                    <img src="{{url_for('static', filename='images/MenuVerseU_Logo.jpeg')}}" alt="Logo MenuVerseU">
                </div>
                <h1>Menu<b>Verse</b>U</h1>
            </div>

            <div class="menu" id="show-menu">
                <nav>
                    <ul>
                        <li><a href="{{url_for('index')}}"> <i class="fas fa-home"></i>Inicio</a></li>
                        <li class="menu-selected">
                            <a href="{{url_for('Facultades')}}" class="text-menu-selected">
                                <i class="fa-solid fa-school"></i>Facultades</a>
                        </li>
                        <li><a href="{{url_for('QuienSomos')}}"><i class="fa-solid fa-address-card"></i></i></i>Quienes somos</a>
                        </li>
                        <li><a href="{{url_for('Sugerencias')}}"><i class="fa-solid fa-envelope"></i>Sugerencias</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div id="icon-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <div class="container-all" id="move-content">
        <h1 class="tema">Facultad de Trabajo Social y Desarrollo Humano</h1>
        <div class="row">
            <div class="tarjeta">
                <h2>Desayunos</h2>
                <div class="productos">
                    <p class="producto">Avena </p>
                    <p class="precio"> $28</p>
                </div>
                <div class="productos">
                    <p class="producto">Combo Hot cake </p>
                    <p class="precio"> $55</p>
                </div>
                <div class="productos">
                    <p class="producto">Chilaquies sencillos verdes y rojos </p>
                    <p class="precio"> $48</p>
                </div>
                <div class="productos">
                    <p class="producto">Chilaquies con pollo o con huevo </p>
                    <p class="precio"> $63</p>
                </div>
                <div class="productos">
                    <p class="producto">Torta de huevo </p>
                    <p class="precio"> $35</p>
                </div>
                <div class="productos">
                    <p class="producto">Omellete </p>
                    <p class="precio">$55</p>
                </div>
            </div>

            <div class="tarjeta">
                <h2>Comidas</h2>
                <div class="productos">
                    <p class="producto">Comida del dia </p>
                    <p class="precio"> $5</p>
                </div>
                <div class="productos">
                    <p class="producto">Carne con salsa Teriyaki </p>
                    <p class="precio"> $85</p>
                </div>
                <div class="productos">
                    <p class="producto">Pasta al pesto </p>
                    <p class="precio"> $85</p>
                </div>
                <div class="productos">
                    <p class="producto">Milanesa de pollo con verduras </p>
                    <p class="precio"> $80</p>
                </div>
                <div class="productos">
                    <p class="producto">Filete de pescado con verduras y arroz </p>
                    <p class="precio"> $85</p>
                </div>
                <div class="productos">
                    <p class="producto">Sandwichde pollo y espinaca </p>
                    <p class="precio"> $50</p>
                </div>
                <div class="productos">
                    <p class="producto">Wrap de pollo </p>
                    <p class="precio"> $75</p>
                </div>
                <div class="productos">
                    <p class="producto">Hamburguesa res </p>
                    <p class="precio"> $65</p>
                </div>
                <div class="productos">
                    <p class="producto">Panini de jamón </p>
                    <p class="precio"> $45</p>
                </div>
                <div class="productos">
                    <p class="producto">Panini de chipotle </p>
                    <p class="precio"> $50</p>
                </div>
                <div class="productos">
                    <p class="producto">Panini Cesar </p>
                    <p class="precio"> $50</p>
                </div>
                <div class="productos">
                    <p class="producto">Panini de queso y vegetales </p>
                    <p class="precio"> $45</p>
                </div>
                <div class="productos">
                    <p class="producto">Crema o sopa del dia </p>
                    <p class="precio"> $25</p>
                </div>
            </div>

            <div class="tarjeta">
                <h2>Comida del dia</h2>
                <div class="productos">
                    <p class="producto">Comida del dia: incluye plato fuerte, 2 guarniciones y tortillas</p>
                    <p class="precio"> $95</p>
                </div>
            </div>

            <div class="tarjeta">
                <h2>Comida completa</h2>
                <div class="productos">
                    <p class="producto">Comida completa: incluye comida del dia, crema y agua del día</p>
                    <p class="precio"> $115</p>
                </div>
            </div>

            <div class="tarjeta">
                <h2>Ensalada</h2>
                <div class="productos">
                    <p class="producto">Ensalada del campo</p>
                    <p class="precio"> $90</p>
                </div>
            </div>

            <div class="tarjeta">
                <h2>Bebidas</h2>
                <div class="productos">
                    <p class="producto">Refresco variedad </p>
                    <p class="precio"> $22</p>
                </div>
                <div class="productos">
                    <p class="producto">Agua de sabor 500ml </p>
                    <p class="precio"> $20</p>
                </div>
                <div class="productos">
                    <p class="producto">Agua de sabor 1L </p>
                    <p class="precio"> $30</p>
                </div>
                <div class="productos">
                    <p class="producto">Agua ciel 600ml </p>
                    <p class="precio"> $16</p>
                </div>
                <div class="productos">
                    <p class="producto">Agua ciel 1L </p>
                    <p class="precio"> $20</p>
                </div>
                <div class="productos">
                    <p class="producto">Café americano 16oz </p>
                    <p class="precio"> $25</p>
                </div>
                <div class="productos">
                    <p class="producto">Variedad de café 12oz </p>
                    <p class="precio">$20</p>
                </div>
                <div class="productos">
                    <p class="producto">Variedad Té </p>
                    <p class="precio">$15</p>
                </div>
            </div>
        </div>
    </div>


    <div class="container-footer">
        <footer>
            <div class="logo-footer">
                <img src="{{url_for('static', filename='images/MenuVerseU_Logo.jpeg')}}" alt="Logo MenuVerseU">
            </div>

            <div class="redes-footer">
                <a id="enlace-facebook" title="Enlace a Facebook"><i
                        class="fab fa-facebook-f icon-redes-footer"></i></a>
                <a id="enlace-whatsapp" title="Enlace a Whatsapp"><i class="fab fa-whatsapp icon-redes-footer"></i></a>
                <a id="enlace-instagram" title="Enlace a Instagram"><i
                        class="fab fa-instagram icon-redes-footer"></i></a>
                <a id="enlace-twitter" title="Enlace a Twitter"><i class="fab fa-twitter icon-redes-footer"></i></a>
            </div>
            <hr>
            <h4>© 2023 MenuVereseU - Todos los Derechos Reservados</h4>
        </footer>
    </div>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>

</html>
